<html lang="en" ng-app="App" ng-controller="AppController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document Management System</title>
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet">
    <link href="bower_components/md-data-table/dist/md-data-table-style.css" rel="stylesheet">

    <link href="app/css/custom.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<div ng-cloak>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <md-toolbar class="custom-navbar">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Document Management System</span>
                    </h2>
                    <span flex></span>
                    <!--<md-button class="md-raised" aria-label="Learn More">-->
                    <!--Learn More-->
                    <!--</md-button>-->
                    <h5>{{authenticatedUser.username}}</h5>
                    <md-menu md-position-mode="target-right target" ng-if="authenticatedUser">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item class="custom-text">
                                <md-button>
                                    <div layout="row" flex>
                                        <p flex>Profile </p>
                                        <i class="fa fa-user fa-fw" style="margin: auto 3px auto 0;"></i>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="custom-text">
                                <md-button>
                                    <div layout="row" flex>
                                        <p flex>Settings </p>
                                        <i class="fa fa-cogs fa-fw" style="margin: auto 3px auto 0;"></i>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="custom-text">
                                <md-button ng-click="logout()">
                                    <div layout="row" flex>
                                        <p flex>Logout </p>
                                        <i class="fa fa-external-link fa-fw" style="margin: auto 3px auto 0;"></i>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
        </nav>
        <div class="sidebar" role="navigation" ng-if="authenticatedUser">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <md-button aria-label="Insert Drive">
                            <a href="index.html"><i class="fa fa-dashboard fa-2x"></i></a>
                            <md-tooltip md-visible="false" md-direction="right">
                                Dashboard
                            </md-tooltip>
                        </md-button>
                    </li>
                    <li ng-if="authenticatedUser.userRole=='ADMIN'">
                        <md-button>
                            <a href="#!/users"><i class="fa fa-users fa-2x"></i></a>
                            <md-tooltip md-visible="false" md-direction="right">
                                Users
                            </md-tooltip>
                        </md-button>
                    </li>
                    <li>
                        <md-button aria-label="Insert Drive">
                            <a href="tables.html"><i class="fa fa-table fa-2x"></i></a>
                            <md-tooltip md-visible="false" md-direction="right">
                                Tables
                            </md-tooltip>
                        </md-button>
                    </li>
                    <li>
                        <md-button aria-label="Insert Drive">
                            <a href="#"><i class="fa fa-wrench fa-2x"></i> </a>
                            <md-tooltip md-visible="false" md-direction="right">
                                Settings
                            </md-tooltip>
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-wrapper">
            <div flex>
                <div ng-view></div>
            </div>
        </div>
        <!-- /.navbar-header -->

    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <!--Md Data Table-->
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table-templates.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table.js"></script>

    <script src="app/app.js"></script>
    <script src="app/services/authentication-service.js"></script>
    <script src="app/services/interceptor-service.js"></script>
    <script src="app/services/user-service.js"></script>
    <script src="app/services/doctype-service.js"></script>
    <script src="app/services/tree-service.js"></script>
    <script src="app/services/process-service.js"></script>
    <script src="app/directives/tree-directive/tree-directive.js"></script>
    <script src="app/controllers/main-controller.js"></script>
    <script src="app/controllers/authentication-controller.js"></script>
    <script src="app/controllers/users-controller.js"></script>
    <script src="app/controllers/doctype-controller.js"></script>
</div>
</body>
</html>
