<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Login">
                    <md-content class="md-padding">
                        <h1 class="md-display-1 text-center">Sign in</h1>
                        <br/>
                        <md-input-container class="md-block">
                            <label class="md-accent">Username</label>
                            <input type="text" required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" required/>
                        </md-input-container>
                        <md-button class="md-raised md-primary col-md-offset-9" style="width: 120px;">Login</md-button>
                    </md-content>
                </md-tab>
                <md-tab label="Registration">
                    <md-content class="md-padding">
                        <h1 class="md-display-1 text-center">Sign up</h1>
                        <br/>
                        <md-input-container class="md-block">
                            <label class="md-accent">Username</label>
                            <input type="text" required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Confirm password</label>
                            <input type="password" required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Company name <i class="fa fa-info-circle"></i></label>
                            <input type="text" required/>
                        </md-input-container>
                        <div class="alert alert-info">
                            <strong><i class="fa fa-info-circle"></i></strong>
                            Signing up automatically registers a new company, if you wish to join an
                            existing company, please contact your administrator.
                        </div>
                        <md-button class="md-raised md-primary col-md-offset-9" style="width: 120px;">Register
                        </md-button>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
