<div class="col-md-5">
    <ul class="no-bulleting tree-root">
        <li ng-repeat="process in processes" ng-include="'app/directives/tree-directive/tree-template.html'"></li>
        <md-button class="md-fab md-mini md-primary" ng-click="createNewProcess($event)">
            <i class=" fa fa-plus"></i>
            <md-tooltip md-direction="right">
                Create new company process
            </md-tooltip>
        </md-button>
    </ul>
</div>
<div class="col-md-7" ng-if="selectedActivity">
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               table-card="{visible: true, title: selectedActivity.inputDocumentType.name}"
               mdt-row="{
                      data: filteredInputDocuments,
                      'table-row-id-key': 'id',
                      'column-keys': [
                          'id',
                          'description',
                          'downloadLink'
                          ]
                      }"
               animate-sort-icon="true">
        <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true"><span>ID</span></mdt-column>
            <mdt-column align-rule="left" column-sort="true"><span>Description</span></mdt-column>
            <mdt-column align-rule="left" column-sort="true"><span>Document download</span></mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="downloadLink">
            <a ng-href="{{value}}"><span class="fa fa-2x fa-download"></span></a>
        </mdt-custom-cell>

    </mdt-table>
    <md-card style="margin:0; padding: 0;">
        <md-input-container style="margin-left: 10px; margin-top: 30px; margin-bottom: 0; padding-bottom: 0;">
            <label>Filter by search</label>
            <input type="text" ng-model="filterText">
        </md-input-container>
    </md-card>
    <div ng-hide="true">
        {{(filteredInputDocuments = (inputDocuments | filter: filterText))}}
    </div>
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               table-card="{visible: true, title: selectedActivity.outputDocumentType.name}"
               mdt-row="{
                      data: filteredOutputDocuments,
                      'table-row-id-key': 'id',
                      'column-keys': [
                          'id',
                          'description',
                          'downloadLink'
                          ]
                      }"
               animate-sort-icon="true">
        <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true"><span>ID</span></mdt-column>
            <mdt-column align-rule="left" column-sort="true"><span>Description</span></mdt-column>
            <mdt-column align-rule="left" column-sort="true"><span>Link to document</span></mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="downloadLink">
            <a ng-href="{{value}}"><span class="fa fa-2x fa-download"></span></a>
        </mdt-custom-cell>

    </mdt-table>
    <md-card style="margin:0; padding: 0;">
        <md-input-container style="margin-left: 10px; margin-top: 30px; margin-bottom: 0; padding-bottom: 0;">
            <label>Filter by search</label>
            <input type="text" ng-model="filterText">
        </md-input-container>
    </md-card>
    <div ng-hide="true">
        {{(filteredOutputDocuments = (outputDocuments | filter: filterText))}}
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="createDocumentsDialog">
        <md-dialog layout-padding>
            <md-content class="md-padding">
                <div style="padding: 10px;">
                    <h1 class="md-display-1 text-center">Create {{selectedActivity.name}} document</h1>
                    <br/>
                    <md-content class="md-no-momentum" class="col-md-6">
                        <md-input-container class="md-icon-float md-block" ng-repeat="d in documentType.descriptors">
                            <label>{{d.name}}</label>
                            <input ng-model="d.value" type="text">
                        </md-input-container>
                    </md-content>
                    <div class="form-group">
                        <label>Dokument</label>
                        <input class="btn btn-default" type="file" file-model="documentFile">
                    </div>
                    <md-button class="md-raised md-primary center-block"
                               ng-click="createDocument()">Save
                    </md-button>
                </div>
            </md-content>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="createActivityDialog">
        <md-dialog layout-padding>
            <md-content class="md-padding">
                <h1 class="md-display-1 text-center">Create activity</h1>
                <br/>
                <div style="padding: 10px;">
                    <md-input-container class="md-block">
                        <label class="md-accent">Activity name</label>
                        <input type="text" required ng-model="activityRequest.name"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Input document type</label>
                        <md-select ng-model="activityRequest.inputDocumentTypeId">
                            <md-option ng-repeat="docType in documentTypes" value="{{docType.id}}">
                                {{docType.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Output document type</label>
                        <md-select ng-model="activityRequest.outputDocumentTypeId">
                            <md-option ng-repeat="docType in documentTypes" value="{{docType.id}}">
                                {{docType.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary center-block"
                               ng-click="createActivity()">Save
                    </md-button>
                </div>
            </md-content>
        </md-dialog>
    </div>
</div>

