<div class="list-inline">
    <md-button class="md-raised hover-orange" data-toggle="collapse"
               data-target="#children-of-{{process.id}}">
        {{process.name}}
    </md-button>
</div>
<hr/>
<div id="children-of-{{process.id}}" class="collapse">
    <ul ng-if="!process.isPrimitive" class="no-bulleting">
        <li ng-repeat="process in process.childProcesses"
            ng-include="'app/directives/tree-directive/tree-template.html'">
        </li>
        <li>
            <md-button class="md-fab md-mini md-primary" ng-click="createNewSubprocess($event, process.id)">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">
                    Create new subprocess
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini md-accent"
                       ng-click="createNewPrimitiveProcess($event, process.id)">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">
                    Create new primitive process
                </md-tooltip>
            </md-button>
        </li>
    </ul>
    <ul ng-if="process.isPrimitive" class="no-bulleting">
        <li ng-repeat="activity in process.activities">
            <md-button class="md-accent" ng-click="getDocumentsForActivity(activity)">
                {{activity.name}}
            </md-button>
            <md-button class="md-fab md-mini md-primary"
                       ng-show="activity.inputDocumentType"
                       ng-click="openCreateDocumentsDialog($event, activity, true)">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">
                    Create input document
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini md-primary"
                       ng-show="activity.outputDocumentType"
                       ng-click="openCreateDocumentsDialog($event, activity, false)">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">
                    Create output document
                </md-tooltip>
            </md-button>
        </li>
        <li>
            <md-button class="md-fab md-mini md-primary"
                       ng-click="showCreateActivityDialog($event, process.id)">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">
                    Create new activity
                </md-tooltip>
            </md-button>
        </li>
    </ul>
    <hr/>
</div>