<div class="col-md-12">
    <ul class="no-bulleting tree-root">
        <li ng-repeat="process in processes" ng-include="'processTree'"></li>
        <md-button class="md-fab md-mini md-primary" ng-click="createNewProcess($event)">
            <i class=" fa fa-plus"></i>
            <md-tooltip md-direction="right">
                Create new company process
            </md-tooltip>
        </md-button>
    </ul>
    <script type="text/ng-template" id="processTree">
        <div class="list-inline">
            <md-button class="md-raised hover-orange" data-toggle="collapse"
                       data-target="#children-of-{{process.id}}">
                {{process.name}}
            </md-button>
        </div>
        <hr/>
        <div id="children-of-{{process.id}}" class="collapse">
            <ul ng-if="!process.isPrimitive" class="no-bulleting">
                <li ng-repeat="process in process.childProcesses" ng-include="'processTree'">
                </li>
                <li>
                    <md-button class="md-fab md-mini md-primary" ng-click="createNewSubprocess($event, process.id)">
                        <i class="fa fa-plus"></i>
                        <md-tooltip md-direction="right">
                            Create new subprocess
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini md-accent"
                               ng-click="createNewPrimitiveProcess($event, process.id)">
                        <i class="fa fa-plus"></i>
                        <md-tooltip md-direction="right">
                            Create new primitive process
                        </md-tooltip>
                    </md-button>
                </li>
            </ul>
            <ul ng-if="process.isPrimitive" class="no-bulleting">
                <li ng-repeat="activity in process.activities">
                    <md-button class="md-accent" ng-click="getDocumentsForActivity($event, activity)">
                        {{activity.name}}
                    </md-button>
                    <md-button class="md-fab md-mini md-primary"
                               ng-click="getDescriptorsForActivity($event, activity)">
                        <i class="fa fa-plus"></i>
                        <md-tooltip md-direction="right">
                            Create new document
                        </md-tooltip>
                    </md-button>
                </li>
                <li>
                    <md-button class="md-fab md-mini md-primary"
                               ng-click="showCreateActivityDialog($event, process.id)">
                        <i class="fa fa-plus"></i>
                        <md-tooltip md-direction="right">
                            Create new activity
                        </md-tooltip>
                    </md-button>
                </li>
            </ul>
            <hr/>
        </div>
    </script>
</div>
<div class="col-md-6" ng-show="selectedActivity != null">

    <div layout="column" layout-padding ng-cloak>

        <md-content class="md-no-momentum" class="col-md-6">
            <md-input-container class="md-icon-float md-block" ng-repeat="d in inputType.descriptors">
                <label>{{d.name}}</label>
                <input ng-model="d.value" type="text">
            </md-input-container>
        </md-content>

        <md-content class="md-no-momentum" class="col-md-6">
            <md-input-container class="md-icon-float md-block" ng-repeat="d in outputType.descriptors">
                <label>{{d.name}}</label>
                <input ng-model="d.value" type="text">
            </md-input-container>
        </md-content>

        <md-button class="md-accent" ng-click="createDocuments($event, inputType, outputType)">
            Save document
        </md-button>

    </div>

</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="createActivityDialog">
        <md-dialog layout-padding>
            <md-content class="md-padding">
                <h1 class="md-display-1 text-center">Create activity</h1>
                <br/>
                <div style="padding: 10px;">
                    <md-input-container class="md-block">
                        <label class="md-accent">Activity name</label>
                        <input type="text" required ng-model="activityRequest.name"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Input document type</label>
                        <md-select ng-model="activityRequest.inputDocumentTypeId">
                            <md-option ng-repeat="docType in documentTypes" value="{{docType.id}}">
                                {{docType.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Output document type</label>
                        <md-select ng-model="activityRequest.outputDocumentTypeId">
                            <md-option ng-repeat="docType in documentTypes" value="{{docType.id}}">
                                {{docType.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary center-block"
                               ng-click="createActivity()">Save
                    </md-button>
                </div>
            </md-content>
        </md-dialog>
    </div>
</div>